.themeWrapper {
  width: 68px;
  height: 21px;
  position: relative;
  /* background-color: var(--color-dark); */
  /* color: var(--color-icon-light); */
  cursor: pointer;
  z-index: 1000;
  margin-right: 14px;
}

.themeButtonGreen,
.themeButtonViolet {
  display: flex;
  align-items: center;
  gap: 4px;

  width: 68px;
  height: 21px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 14px;
  font-family: var(--font-medium);
  color: inherit;
  /* color: var(--color-white); */
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.themeMenu {
  width: 82px;
  height: 89px;
  border-radius: 8px;
  padding: 18px;
  margin: 0;
  margin-top: 10px;
  position: fixed;
  /* background-color: var(--color-dark); */
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.themeMenuOpen {
  width: 82px;
  height: 89px;
  border-radius: 8px;
  padding: 18px;
  margin: 0;
  margin-top: 10px;
  position: fixed;
  /* background-color: var(--color-dark); */
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

.themeItemGreen,
.themeItemViolet {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  /* color: var(--color-icon-grey); */
}

.themeItemGreen:hover,
.themeButtonGreen:hover {
  color: var(--color-green);
}

.themeItemViolet:hover,
.themeButtonViolet:hover {
  color: var(--color-violet);
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.light {
  background-color: #fcfcfc;
  color: #161616;
}

.violet {
  background-color: #fcfcfc;
  color: #161616;
}
