.title {
  color: inherit;
  font-family: var(--font-medium);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
}
.button {
  display: inline-flex;
  width: 100%;
  gap: 8px;
  padding: 14px 78px 14px 79px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  fill: var(--color-icon-dark);
  stroke: var(--color-white);
  background: var(--color-green);
  color: var(--color-dark);
  font-family: var(--font-medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
.input {
  width: 100%;
  border-radius: 8px;
  padding: 18px 14px;
  margin-bottom: 24px;
  border: 1px solid var(--color-green);
  opacity: 0.4;
  background-color: transparent;
  color: inherit;
  /* background-color: var(--bg-color-form-input); */
  /* color: var(--color-white); */
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);

  font-family: var(--font-regular);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.28px;

  transition: opacity 250ms linear;
}

.input:active,
.input:hover,
.input:focus {
  outline: 0;
  outline-offset: 0;
  opacity: 1;
}

.input::placeholder {
  color: var(--color-white);
  font-family: var(--font-medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-white);
  box-shadow: 0 0 0 30px var(--bg-color-form-input) inset !important;
}
