.column__container {
  min-width: 258px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (min-width: 375px) {
  .column__container {
    min-width: 334px;
    width: auto;
  }
}
.columnHeaderDark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 18px 20px 17px 20px;
  background-color: var(--color-icon-dark);
  border-radius: 8px;
}
.columnHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 18px 20px 17px 20px;
  background-color: var(--color-white);
  border-radius: 8px;
}
.columnHeader__title {
  color: inherit;

  font-family: var(--font-medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
.columnHeader__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: auto;
}
.columnHeader__buttonDark {
  height: 20px;
  width: 20px;
  background-color: transparent;
  fill: none;
  stroke: var(--color-icon-grey);
  border: none;
  padding: 2px;
  transition: transform 250ms linear, stroke 250ms linear;
}

.columnHeader__buttonLight,
.columnHeader__buttonViolet {
  height: 20px;
  width: 20px;
  background-color: transparent;
  fill: none;
  stroke: rgba(22, 22, 22, 0.5);

  border: none;
  padding: 2px;
  transition: transform 250ms linear, stroke 250ms linear;
}

.columnHeader__buttonDark:hover,
.columnHeader__buttonLight:hover {
  stroke: var(--color-green);
  transform: scale(1.2);
}

.columnHeader__buttonViolet:hover {
  stroke: var(--color-violet);
  transform: scale(1.2);
}
.cardList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 55vh;

  overflow-y: auto;
  scrollbar-width: none;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .cardList {
    max-height: 55vh;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .cardList {
    max-height: 55vh;
  }
}
@media screen and (max-width: 375px) {
  .cardList {
    max-height: 50vh;
  }
}

.cardList::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;   
  border-radius: 4px;
}

.cardList::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
  border-radius: 4px;
}

.cardList:hover::-webkit-scrollbar-thumb {
  background-color:  rgba(22, 22, 22, 0.3);
}
