.column__container {
  width: 334px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  /* scrollbar-width: auto;
  scrollbar-color: rgb(0, 0, 0) rgb(87, 86, 84); цвет бегунка и зоны отслеживания */
}
.columnHeaderDark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 18px 20px 17px 20px;
  background-color: var(--color-icon-dark);
  border-radius: 8px;
}
.columnHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 18px 20px 17px 20px;
  background-color: var(--color-white);
  border-radius: 8px;
}
.columnHeader__title {
  color: inherit;
  /* color: var(--color-white); */
  font-family: var(--font-medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
.columnHeader__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: auto;
}
.columnHeader__buttonDark {
  height: 20px;
  width: 20px;
  background-color: transparent;  
  fill:none;  
  /* stroke: rgba(22, 22, 22, 0.5); */
  stroke: var(--color-icon-grey);  
  border: none;
  padding: 2px;
}
.columnHeader__button {
  height: 20px;
  width: 20px;
  background-color: transparent;  
  fill:none;  
  stroke: rgba(22, 22, 22, 0.5);
  /* stroke: var(--color-icon-grey); */  
  border: none;
  padding: 2px;
}
.columnHeader__button:hover {
  stroke: var(--color-green);
  background: radial-gradient(
    circle closest-side,
    var(--color-green),
    var(--color-icon-dark) 100%
  );
}
.cardList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 478px;
  overflow: auto;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .cardList {
    height: 640px;
  }
}

.demo {
  height: 300px;
  width: 400px;
  overflow: hidden;
}
