.icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.icon:hover {
  color: var(--color-hover-green);
}
.tip {
  position: absolute;
  transform: translateY(-20px);
  transform: scale(0.1);
  visibility: hidden;
  background-color: #6d6d6d;
  padding: 0px 6px;
  border-radius: 3px;
  color: var(--color-white);
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
}

.icon:hover .tip {
  visibility: visible;
  transform: scale(1);
  transform: translateY(-20px);
  transition: transform 0.2s ease-in-out;
}
