.container {
  padding: 14px 24px 0px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 375px;
    padding: 14px 24px 0px;
    display: inline-block;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    width: 768px;
  }
}

.container::-webkit-scrollbar {
  width: 12px; /* Ширина скролу (параметр бару) */
  background-color: #161616; /* Колір фону скролу */
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Колір бару скролу */
  outline: 1px solid transparent; /* Обводка бару скролу */
  border-radius: 12px;
}

.container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Колір бару скролу при наведенні (параметр бару) */
}

.buttonDark {
  display: inline-flex;
  gap: 8px;
  padding: 14px 78px 14px 79px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  fill: var(--color-white);
  stroke: var(--color-icon-dark);
  background: var(--color-icon-dark);
  color: var(--color-white);
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  height: 56px;
}

.button {
  display: inline-flex;
  gap: 8px;
  padding: 14px 78px 14px 79px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  fill: var(--color-icon-dark);
  stroke: var(--color-white);
  background: var(--color-white);
  color: var(--color-icon-dark);
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  height: 56px;
}

@media screen and (min-width: 375px) {
  .buttonText {
    width: 141px;
  }
}
/* Columns */
.columnList {
  display: flex;
  gap: 34px;
  /* overflow-y: auto
  scrollbar-width: none; */
}
@media screen and (min-width: 768px) {
  .columnList {
    margin-right: 34px;
  }
}

/* .columnList::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.columnList::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
  border-radius: 8px;
}

.columnList:hover::-webkit-scrollbar-thumb {
  background-color: #121212;
} */
