.container {
  padding: 14px 24px 0px;
  display: flex;
  gap: 34px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 14px 24px 0px;
    display: inline-block;
    justify-content: center;
  }
}

.button {
  display: inline-flex;
  gap: 8px;
  padding: 14px 78px 14px 79px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  fill: var(--color-white);
  stroke: var(--color-icon-dark);
  background: var(--color-icon-dark);
  color: var(--color-white);
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  height: 56px;
}

@media screen and (min-width: 375px) {
  .buttonText {
    width: 141px;
  }
}
/* Columns */
.columnList {
  display: flex;
  gap: 34px;
}
