.container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  height: 100%;
}
@media screen and (max-width: 375px) {
  .container {
    padding: 10px 15px 10px 15px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    padding: 15px 20px 15px 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    padding: 15px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 20px 32px;
  }
}
.container::-webkit-scrollbar {
  width: 6px; /* Ширина скролу (параметр бару) */
  background-color: transparent; /* Колір фону скролу */
  border-radius: 6px;
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Колір бару скролу */
  outline: 1px solid transparent; /* Обводка бару скролу */
  border-radius: 6px;
}

.container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(22, 22, 22, 0.3);
}

.buttonDark {
  display: inline-flex;
  gap: 8px;
  padding: 14px 0px;

  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  fill: var(--color-white);
  stroke: var(--color-icon-dark);
  background: var(--color-icon-dark);
  color: var(--color-white);
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  height: 56px;
  transition: color 250ms linear;

  min-width: 258px;
}
@media screen and (min-width: 375px) {
  .buttonDark {
    min-width: 334px;
  }
}

.buttonLight {
  display: inline-flex;
  gap: 8px;

  padding: 14px 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  fill: var(--color-icon-dark);
  stroke: var(--color-white);
  background: var(--color-white);
  color: var(--color-icon-dark);
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  height: 56px;
  transition: background-color 250ms linear;

  min-width: 258px;
}
@media screen and (min-width: 375px) {
  .buttonLight {
    min-width: 334px;
  }
}

.buttonViolet {
  display: inline-flex;
  gap: 8px;
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  fill: var(--color-violet);
  stroke: var(--color-white);
  background: var(--color-white);
  color: var(--color-icon-dark);
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  height: 56px;
  transition: background-color 250ms linear;

  min-width: 258px;
}
@media screen and (min-width: 375px) {
  .buttonViolet {
    min-width: 334px;
  }
}

.buttonLight:hover {
  background-color: var(--color-green);
}
.buttonDark:hover {
  color: var(--color-green);
}
.buttonViolet:hover {
  background-color: var(--color-light-violet);
}

@media screen and (min-width: 375px) {
  .buttonText {
    width: 141px;
  }
}
/* Columns */

@media screen and (max-width: 375px) {
  .columnList {
    display: flex;
    gap: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 375px) {
  .columnList {
    display: flex;
    gap: 34px;
    margin-right: 34px;
  }
}
