.dark {
  background-color: var(--bg-color-form);
  color: var(--color-white);
  stroke: var(--color-white);
  /* fill: var(--bg-color-form); */
}

.light {
  background-color: #fcfcfc;
  /* background-color: #f6f6f7; */
  color: #161616;
  stroke: #161616;
}

.violet {
  background-color: #fcfcfc;
  /* background-color: #ecedfd; */
  color: #161616;
  stroke: #161616;
}

.modal {
  z-index: 1600;
  padding: 24px;
  width: 90vw;
  /* height: 221px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  color: #161616;
  /* background-color: var(--bg-color-form); */
  border-radius: 8px;
  box-shadow: 3px 3px 3px var(--color-shadow);
  border: 1px solid var(--color-shadow);
}

.modalDark {
  z-index: 1600;
  padding: 24px;
  width: 90vw;
  /* height: 221px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color-white);
  background-color: var(--bg-color-form);
  border-radius: 8px;
  box-shadow: 3px 3px 3px var(--color-shadow);
  border: 1px solid var(--color-shadow);
}

@media screen and (min-width: 375px) {
  .modal,
  .modalDark {
    width: 350px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
}
.close_Button {
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: inherit;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1601;
  stroke: inherit;
  /* stroke: var(--color-white); */
}

.close_Button:hover {
  stroke-opacity: 0.5;
}
/* Стилі для children - title, input, button */
/* .title {
  color: var(--color-white);
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
}
.button {
  display: inline-flex;
  gap: 8px;
  padding: 14px 78px 14px 79px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  fill: var(--color-white);
  stroke: var(--color-icon-dark);
  background: var(--color-green);
  color: var(--color-dark);
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
} */