/* @import '../../../index.css'; */

/* .headerDashboardSection {
    background-color: var(--bg-color-form-input);
    height: 100vh;
} */

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px 0px;
    margin-bottom: 39px;
    flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
    .wrapper {
       margin-bottom: 26px;
       padding: 14px 32px 0px
    }
}

.title {
    color: var(--color-white);
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
}

@media screen and (min-width: 1440px) {
    .wrapper {
        margin-bottom: 10px;
        padding: 14px 24px 0px;
    }

    .title {
        letter-spacing: -0.36px;
    }
}

.filter {
    border: none;
    background-color: inherit;
    display: flex;
    gap: 8px;
    color: var(--color-icon-light);
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.28px;
    align-items: center;    
    stroke: var(--color-icon-light);
}

.filterText {
    height: 20px;
}