.headerTaskPro {
  display: flex;
  justify-content: right;
  height: 68px;
  align-items: center;
  border-bottom: 0px solid rgb(57, 59, 59);
}

@media screen and (max-width: 1279px) {
  .headerall {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .menuburger {
    display: none;
  }
}
.iconburger {
  width: 32px;
  height: 32px;
}
.menuburger {
  margin-top: auto;
  margin-bottom: auto;
}
.styleTheme:hover,
.styleTheme:focus {
  color: var(--accent-color);
}

.burgerstyle {
  cursor: pointer;
  outline: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin-left: 32px;
  color: var(--primary-text-color);
}

.outputselector {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  z-index: 0;
}

.selectortheme {
  position: absolute;
  top: 33px;
  z-index: 55;
}
.styleTheme {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  margin-right: 14px;
  color: var(--primary-text-color);
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 14px;
}
.styleUserInfo {
  list-style: none;
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.styleName {
  margin-right: 8px;
  color: var(--primary-text-color);
  background-color: transparent;
  font-size: 14px;
}

.styleAvatar {
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-size: cover;
}

.textuseravatar {
  color: var(--primary-text-color);
}
.burgerMenu {
  background-color: transparent;
  color: white;
}
