@media screen and (max-width: 1279px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .burgerMenu {
    display: none;
  }
}

.burgerMenu {
  margin-top: auto;
  margin-bottom: auto;
}

.burgerStyle {
  cursor: pointer;
  outline: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin-left: 32px;
  color: var(--color-white);
}

.burgerIcon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  color: var(--color-white);
}

.headerSelect {
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 0px solid rgb(57, 59, 59);
  background-color: var(--color-dark);
  padding: 14px 20px;
}

.selectorTheme {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  z-index: 0;
  color: var(--color-white);
}

.theme:hover,
.theme:focus {
  color: var(--color-hover-green);
}

.styleTheme {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  margin-right: 14px;
  color: var(--color-whiter);
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 14px;
}

.userInfo {
  list-style: none;
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.styleName {
  margin-right: 8px;
  color: var(--color-white);
  background-color: transparent;
  font-size: 14px;
}
