.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.input {
  width: 100%;
  border-radius: 8px;
  padding: 18px 14px;
  border: 1px solid var(--color-green);
  opacity: 0.4;
  margin-bottom: 14px;
  background-color: var(--bg-color-form-input);
  color: var(--color-white);
  box-shadow: 0px 4px 16px 0px var(--color-shadow);

  font-family: var(--font-regular);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.28px;

  transition: opacity 250ms linear;
}

.input:active,
.input:hover,
.input:focus {
  outline: 0;
  outline-offset: 0;
  opacity: 1;
}

.input::placeholder {
  color: var(--color-white);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-white);
  box-shadow: 0 0 0 30px var(--bg-color-form-input) inset !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  height: 49px;
  background-color: var(--color-green);
  color: var(--color-dark);

  font-family: var(--font-medium);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.28px;

  text-align: center;
  cursor: pointer;
  padding: 14px 0px;
  border: 0px;
  border-radius: 8px;

  transition: background-color 250ms linear, box-shadow 250ms linear;
}

.authGoogleLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  height: 49px;
  background-color: var(--color-green);
  color: var(--color-dark);

  font-family: var(--font-medium);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.28px;

  text-align: center;
  cursor: pointer;
  padding: 14px 0px;
  border: 0px;
  border-radius: 8px;

  transition: background-color 250ms linear, box-shadow 250ms linear;
}

.btn:hover,
.authGoogleLink:hover {
  background-color: var(--color-hover-green);
}

.googleIcon {
  margin-right: 5px;
}

.wrap {
  position: relative;
}

.eye_icon {
  position: absolute;
  top: 45%;
  right: 18px;
  transform: translateY(-50%);
  opacity: 0.4;
  justify-content: space-between;
  align-items: center;

  text-align: center;
  cursor: pointer;
  border: 0px;
}

.error {
  position: absolute;
  top: 4px;
  right: 8px;
  font-family: var(--font-regular);
  font-size: 10px;
  color: var(--color-hover-green);
}
