/* .wrap {
  position: relative;
  width: 335px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--bg-color-form);

  @media screen and (min-width: 768px) {
    .wrap {
      width: 350px;
    }
  }
} */

.title {
  color: var(--color-white);
  font-family: var(--font-medium);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-right: auto;
}

.field {
  width: 100%;
  height: 49px;
  padding: 14px 241px 14px 18px;
  margin-top: 24px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--color-green);
  opacity: 0.4;
  background: var(--bg-color-form-input);
  box-shadow: 0px 4px 16px 0px var(--color-text-grey);
  color: var(--color-white);
  font-family: var(--font-regular);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
}

.field:focus {
  outline: 0;
  opacity: 1;
}

.label {
  /* width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; */
  color: var(--color-white);
  font-family: var(--font-medium);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-top: 24px;
}

.priority {
  margin-top: 14px;
  display: flex;
  gap: 8px;
  border: none;
}

.input_svg {
  display: none;
}

.input_svg:checked + label > svg {
  stroke: var(--color-white);
}

.label_svg {
  cursor: pointer;
}

.svg {
  stroke: #ffffff80;
  transition: transform 0.25s ease;
}

.svg:hover {
  transform: scale(1.4);
}

.bg_priority {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 14px;
  width: 260px;
  cursor: pointer;
  border: none;
}

.btn {
  width: 100%;
  height: 49px;
  padding: 0;
  border: none;
  margin-top: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 10px 0px 11px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--color-green);
  text-align: center;
  color: var(--color-dark);
  font-family: var(--font-medium);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
}

/* .btn:hover {
  background: var();
} */

.icon {
  border-radius: 8px;
  fill: #ffffff80;
  stroke: var(--color-white);
}
