.sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* padding: 14px 14px 24px 14px; */
    /* background-color: var(--color-icon-dark); */
    width: 260px;
  }
}

.dark {
 background-color: var(--color-icon-dark);
  color: var(--color-white);
   stroke: var(--color-white);
   fill: var(--bg-color-form-input);
}

.light {
  background-color: #F6F6F7;
  color: #161616;
   stroke: #161616;
   fill: #F6F6F7;
}

.violet {
  background-color: #ECEDFD;
  color: #161616;
}

/* Title */
.sidebarBox {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 0 0 14px;
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .sidebarBox {
    padding: 24px 0 0 24px;
    margin-bottom: 60px;
  }
}

.sidebarBoxIcon {
  width: 32px;
  height: 32px;
  fill: var(--color-white);
  stroke: var(--bg-color-form-input);
}

.sidebarBoxTitle {
  font-size: 16px;
  font-family: var(--font-semibold);

  letter-spacing: -0.64px;

  /* color: var(--color-white); */
}

/* Board */
.sidebarItem {
  padding-left: 14px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .sidebarItem {
    padding-left: 24px;
  }
}

.sidebarItemTitle {
  font-family: var(--font-regular);
  font-size: 12px;
  letter-spacing: -0.24px;

  /* color: var(--color-icon-grey); */
}

.sidebarBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 18px 14px 14px;
  /* margin-bottom: 40px; */
  border-top: solid 1px var(--color-sidebar-border);
  border-bottom: solid 1px var(--color-sidebar-border);
}

@media screen and (min-width: 768px) {
  .sidebarBoard {
    padding: 14px 24px;
  }
}

.sidebarBoardItem {
  font-family: var(--font-medium);
  font-size: 14px;

  letter-spacing: -0.28px;

  margin-right: 77px;
  /* color: var(--color-white); */
}

@media screen and (min-width: 768px) {
  .sidebarBoardItem {
    margin-right: 96px;
  }
}

.sidebarBoardButton {
  display: flex;
  padding: 0;
  border: none;
  background-color: inherit;
  /* margin: 0;
  outline: 0;
 
  color: inherit; */
  /* background: var(--color-icon-dark); */
}

.sidebarBoardIcon {
  width: 40px;
  height: 36px;

  fill: var(--color-green);  
  stroke: var(--color-icon-dark);
}

/* New board */
.sidebarNewBoard {
  padding: 40px 0;
  overflow-y: scroll;
}

/* @media screen and (min-width: 768px) {
  .sidebarNewBoard {
    padding: 20px 0 20px 24px;

  }
} */

.sidebarNewBoardList {
  padding: 20px 24px;
  display: flex;
  align-items: center;
}

.sidebarNewBoardSvg {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  stroke: var(--color-icon-grey);
}
.sidebarNewBoardSvgActive {
  stroke: var(--color-white);
}

@media screen and (min-width: 768px) {
  .sidebarNewBoardSvg {
    margin-right: 8px;
  }
}

.sidebarNewBoardItem {
  margin-right: auto;
  color: var(--color-icon-grey);
}

.sidebarNewBoardItemActive {
  border-right: 4px solid var(--color-green);
  border-radius: 4px 0px 0px 4px;
  background: var(--bg-color-form-input);
  color: var(--color-white);
}
.sidebarNewBoardItemText {
  font-family: var(--font-medium);
  font-size: 14px;
  letter-spacing: -0.28px;
  margin-right: auto;

  /* color: var(--color-white); */
}
.bg {
  background: #000;
}
.svg {
  stroke: #ffffff80;
  transition: transform 0.25s ease;
}
.sidebarNewBoardButton {
  height: 16px;
  border: none;
  padding: 0;
  margin-right: 8px;
  /* background-color: var(--color-icon-dark); */
}

.sidebarNewBoardButtonCurrent {
  height: 16px;
  border: none;
  padding: 0;
  margin-right: 14px;
  /* background-color: var(--color-icon-dark); */
}

@media screen and (min-width: 768px) {
  .sidebarNewBoardButtonCurrent {
    margin-right: 20px;
  }
}

.sidebarNewBoardIcon {
  width: 16px;
  height: 16px;
  stroke: var(--color-icon-grey);
}

.sidebarLogout {
  padding: 0 0 24px 24px;
}

.sidebarLogoutButton {
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  /* padding: 0 7px 0 0; */
  color:inherit;
  background-color: inherit;
  /* color: var(--color-white);
  background-color: var(--color-icon-dark); */
  font-family: var(--font-medium);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.sidebarLogoutIcon {
  stroke: var(--color-green);
  fill: none;
}
