.dark {
  background-color: var(--color-icon-dark);
  color: var(--color-white);
  stroke: var(--color-white);
  fill: var(--bg-color-form-input);
}

.light {
  background-color: var(--color-white);
  color: #161616;
  stroke: #161616;
  fill: var(--color-white);
}

.violet {
  background-color: var(--color-violet);
  color: var(--color-white);
  stroke: var(--color-white);
  fill: var(--color-violet);
}

.sidebar {
  display: none;
}

.flexMarkup {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sectionBoards {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.sectionBoards::-webkit-scrollbar {
  width: 3px;
  background-color: transparent; /* Колір фону скролу */
}

.sectionBoards::-webkit-scrollbar-thumb {
  background-color: transparent; /* Колір бару скролу */
  outline: 1px solid transparent; /* Обводка бару скролу */
  border-radius: 3px;
}

.sectionBoards:hover::-webkit-scrollbar-thumb {
  background-color: #4a6040; /* Колір бару скролу при наведенні */
}

.partTop {
  flex: 0 0 auto;
  min-height: 100px;
  overflow: hidden;
}
.partButton {
  padding-top: 20px;
}

@media screen and (min-width: 1440px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: inherit;
    width: 260px;

    /* transform: translateX(1); */
    /* transition: transform 300ms; */
  }
}

.active {
  display: block;
  position: absolute;
  z-index: 1200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: inherit;
  width: 225px;
}

@media screen and (min-width: 768px) {
  .active {
    width: 260px;
  }
}

/* Title */
.sidebarBox {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 0 0 14px;
  margin-bottom: 70px;
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .sidebarBox {
    padding: 24px 0 0 24px;
    margin-bottom: 60px;
  }
}

.sidebarBoxIconDark {
  width: 32px;
  height: 32px;
  /* fill: var(--color-white); */
  stroke: var(--bg-color-form-input);
}

.sidebarBoxIconViolet {
  width: 32px;
  height: 32px;
  /* fill: var(--color-white); */
  stroke: var(--color-violet);
}

.sidebarBoxTitle {
  font-size: 16px;
  font-family: var(--font-semibold);

  letter-spacing: -0.64px;

  /* color: var(--color-white); */
}

/* Board */
.sidebarItem {
  padding-left: 14px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .sidebarItem {
    padding-left: 24px;
  }
}

.sidebarItemTitle {
  font-family: var(--font-regular);
  font-size: 12px;
  letter-spacing: -0.24px;
  opacity: 0.8;
  color: inherit;
  /* color: var(--color-icon-grey); */
}

.sidebarBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 18px 14px 14px;
  /* margin-bottom: 40px; */

  border-top: solid 1px var(--color-sidebar-border);
  border-bottom: solid 1px var(--color-sidebar-border);
}

@media screen and (min-width: 768px) {
  .sidebarBoard {
    padding: 14px 24px;
  }
}

.sidebarBoardItem {
  font-family: var(--font-medium);
  font-size: 14px;

  letter-spacing: -0.28px;

  margin-right: 77px;
  color: inherit;
  /* color: var(--color-white); */
}

@media screen and (min-width: 768px) {
  .sidebarBoardItem {
    margin-right: 96px;
  }
}

.sidebarBoardButton {
  display: flex;
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
  /* margin: 0;
  outline: 0;
  /* background: var(--color-icon-dark); */
}

.sidebarBoardIconGreen {
  width: 40px;
  height: 36px;
  fill: var(--color-green);
  stroke: var(--color-icon-dark);
}

.sidebarBoardIconViolet {
  width: 40px;
  height: 36px;
  fill: #b8bcfd;
  stroke: white;
}

/* New board */
.sidebarNewBoard {
  border-style: none;
  padding: 20px 24px;
  margin: 0;
  height: 61px;
  position: relative;
  /* color:inherit;
  background-color: inherit; */
}

/* @media screen and (min-width: 768px) {
  .sidebarNewBoard {
    padding: 20px 0 20px 24px;

  }
} */

.sidebarListBoard {
  border-style: none;
  padding: 40px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (max-height: 700px) {
  .sidebarListBoard {
    padding: 0;
  }
}
.sideBarBoardHover:hover {
  opacity: 70%;
}
.sidebarNewBoardSvg {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  stroke-opacity: 0.5;
  stroke: inherit;
  fill: none;
  /* stroke: var(--color-icon-grey); */
}

@media screen and (min-width: 768px) {
  .sidebarNewBoardSvg {
    margin-right: 8px;
  }
}
.flex {
  display: flex;
  align-items: center;
}

.activeBoard {
  border-radius: 4px 0px 0px 4px;
  color: inherit;
  background-color: inherit;
  /* background: var(--bg-color-form-input); */
}

.activeBoardLight {
  background-color: #f6f6f7;
  border-radius: 4px 0px 0px 4px;
  color: #161616;
}

.activeBoardViolet {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px 0px 0px 4px;
  color: inherit;
}

.activeBoardDark::after,
.activeBoardLight::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 61px;
  width: 4px;
  color: var(--color-green);
  border-right: 4px solid var(--color-green);
  border-radius: 4px 0px 0px 4px;
}

.activeBoardViolet::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 61px;
  width: 4px;
  color: var(--color-white);
  border-right: 4px solid var(--color-white);
  border-radius: 4px 0px 0px 4px;
}
.sidebarNewBoardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-icon-grey);
}

.sidebarNewBoardItemLight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(22, 22, 22, 0.5);
}

.sidebarNewBoardItem:focus {
  opacity: 1;
  color: inherit;
}

.sidebarNewBoardItemActive {
  border-right: 4px solid var(--color-green);
  border-radius: 4px 0px 0px 4px;
  opacity: 1;
  color: inherit;
  background: var(--bg-color-form-input);
}

.sidebarNewBoardItemText {
  font-family: var(--font-medium);
  font-size: 14px;
  letter-spacing: -0.28px;
  margin-right: auto;
  color: inherit;
}

.sidebarNewBoardSvgActive {
  stroke: inherit;
  fill: none;
  stroke-opacity: 1;
}

.sidebarNewBoardTextActiveLight {
  color: #161616;
}
.sidebarNewBoardTextActive {
  color: var(--color-white);
}

/* .bg {
  background: #000;
} */
.svg {
  stroke: inherit;
  /* stroke: #ffffff80; */
  transition: transform 0.25s ease;
  stroke-opacity: 0.8;
}
.sidebarNewBoardButton {
  height: 16px;
  border: none;
  padding: 0;
  margin-right: 8px;
  background-color: inherit;
  color: inherit;
  stroke: inherit;
}

.sidebarNewBoardButton:hover {
  stroke: var(--color-green);
  background: radial-gradient(
    circle closest-side,
    var(--color-green),
    var(--color-icon-dark) 100%
  );
}

.sidebarNewBoardButtonCurrent {
  height: 16px;
  border: none;
  padding: 0;
  margin-right: 14px;
  background-color: inherit;
  /* background-color: var(--color-icon-dark); */
}

@media screen and (min-width: 768px) {
  .sidebarNewBoardButtonCurrent {
    margin-right: 20px;
  }
}

.sidebarNewBoardIcon {
  width: 16px;
  height: 16px;
  stroke-opacity: 0.7;
  stroke: inherit;
  fill: none;
  /* fill: var(--color-icon-grey);  */
  /* stroke: var(--color-icon-dark); */
}

/* Sidebar Help */
.sidebarHelp {
  /* width: 100%;
  border-radius: 8px;
  margin: 0 14px 24px 14px; */
  padding: 0 14px 24px 14px;
  background-color: transparent;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .sidebarHelp {
    /* width: 100%;
    border-radius: 8px;
    margin: 0 24px 24px 24px; */
    padding: 0 24px 24px 24px;
    background-color: transparent;
    color: inherit;
  }
}

.sidebarHelpBox {
  margin: 14px 0 19px 0;
}

.sidebarHelpBoxItem {
  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: -0.28px;

  color: var(--color-white);
}

.sidebarHelpBoxLink {
  font-family: var(--font-regular);

  color: var(--color-green);
}

.sidebarHelpbutton {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--bg-color-form-input);
  border: none;
}

.sidebarHelpIcon {
  width: 20px;
  height: 20px;
  stroke: var(--color-white);
}

.sidebarHelpNeedHelp {
  font-family: var(--font-medium);
  font-size: 12px;
  letter-spacing: -0.24px;

  color: var(--color-white);
}

.sidebarLogout {
  padding: 0 0 24px 24px;
}

.sidebarLogoutButton {
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  /* padding: 0 7px 0 0; */
  color: inherit;
  background-color: inherit;
  /* color: var(--color-white);
  background-color: var(--color-icon-dark); */
  font-family: var(--font-medium);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.sidebarLogoutIconGreen {
  stroke: var(--color-green);
  fill: none;
}

.sidebarLogoutIconWhite {
  stroke: var(--color-white);
  fill: none;
}
