@import-normalize;

@font-face {
  font-family: 'PoppinsRegular';
  font-style: normal;
  font-weight: 400;
  src: local('PoppinsRegular'),
    url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsMedium';
  font-style: normal;
  font-weight: 500;
  src: local('PoppinsMedium'),
    url(./fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsSemibold';
  font-style: normal;
  font-weight: 600;
  src: local('PoppinsSemibold'),
    url(./fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'PoppinsRegular', 'PoppinsMedium', 'PoppinsSemibold',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* div {
  font-family: 'PoppinsSemibold', sans-serif;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
