@import-normalize;

@font-face {
  font-family: 'PoppinsRegular';
  font-style: normal;
  font-weight: 400;
  src: local('PoppinsRegular'),
    url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsMedium';
  font-style: normal;
  font-weight: 500;
  src: local('PoppinsMedium'),
    url(./fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsSemibold';
  font-style: normal;
  font-weight: 600;
  src: local('PoppinsSemibold'),
    url(./fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'PoppinsRegular', 'PoppinsMedium', 'PoppinsSemibold',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  /* Dark theme */
  --color-dark: #161616;  
  --color-hover-green: #9DC888;  
  --color-white: #FFFFFF;
  --bg-color-form: #151515;
  --bg-color-form-input: #1F1F1F;
  --color-form-light: rgba(255, 255, 255, 0.30);
  --color-icon-dark: #121212;
  --color-icon-grey:rgba(255, 255, 255, 0.50);
  --color-icon-light:rgba(255, 255, 255, 0.80);

  /* Colors/label */
  --color-blue: #8FA1D0;
  --color-pink: #E09CB5;
  --color-green: #BEDBB0;
  --color-light: rgba(22, 22, 22, 0.30);

  /* Light theme */
  --bg-color-light: #F6F6F7;
  --color-text-light: rgba(22, 22, 22, 0.50);
  --color-text-grey: rgba(22, 22, 22, 0.80);
  --color-text-card: rgba(22, 22, 22, 0.70);

  /* Violet theme */
  --color-violet: #5255BC;
  --bg-color-light-violet: #ECEDFD;
  --bg-color-need-help:rgba(236, 237, 253, 0.40);
  --color-light-violet: #B8BCFD;
}

/* div {
  font-family: 'PoppinsSemibold', sans-serif;  
  color: var(--color-dark);
} */
