.home {
  display: flex;
}

.homeWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.headerBox {
  border: 0;
}

@media screen and (max-width: 768px) {
  .headerBox {
    height: 60px;
  }
}
