.home {
  display: flex;
}

.homeWrap {
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  width: 100%;

  transform: translateX(0);
  transition: 0.5s;
 
}

.active {
  transform: translateX(1);
  transition: 0.5s;
}

