.home {
  display: flex;
}

.homeWrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.headerBox {
  width: 100%;
  height: 60px;
  padding: 14px 20px;
  border: solid 2px #000000;
}
