/* .home{
    display: flex;
} */

/* .homeWrap{
    display: block;
    width: 100%;
} */

.headerBox {
  width: 375px;
  height: 60px;
  padding: 14px 20px;

  border: solid 2px #000000;

  @media screen and (min-width:768px) {
    width: auto;
  }
}