.title {
  color: var(--color-white);
  font-family: var(--font-medium);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-bottom: 24px;
  margin-right: auto;
}

.input {
  width: 100%;
  height: 49px;
  padding: 18px 14px;
  margin-bottom: 14px;
  align-items: center;
  border: 1px solid var(--color-green);
  border-radius: 8px;
  opacity: 0.4;
  color: var(--color-white);
  background-color: var(--bg-color-form-input);
  box-shadow: 0px 4px 16px 0px var(--color-shadow);
  font-family: var(--font-regular);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;

  transition: opacity 250ms linear;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 18px 14px;
  margin-bottom: 24px;
  align-items: center;
  border: 1px solid var(--color-green);
  border-radius: 8px;
  opacity: 0.4;
  background-color: var(--bg-color-form-input);
  color: var(--color-white);
  box-shadow: 0px 4px 16px 0px var(--color-shadow);

  font-family: var(--font-regular);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;

  transition: opacity 250ms linear;

  word-break: break-word;
  resize: none;
  overflow: auto;
  scrollbar-width: none;
}

.textarea::-webkit-scrollbar {
  width: 5px; /* Ширина скролу */
  background-color: transparent; /* Колір фону скролу */
}

.textarea::-webkit-scrollbar-thumb {
  background-color: transparent; /* Колір бару скролу */
  outline: 1px solid transparent; /* Обводка бару скролу */
  border-radius: 4px;
}

.textarea:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-green); /* Колір бару скролу при наведенні */
}

.textarea:active,
.textarea:hover,
.textarea:focus,
.input:active,
.input:hover,
.input:focus {
  outline: 0;
  outline-offset: 0;
  opacity: 1;
}

.inputCommentt::placeholder,
.input::placeholder {
  color: var(--color-white);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 49px;
  background-color: var(--color-green);
  color: var(--color-dark);

  font-family: var(--font-medium);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.28px;

  text-align: center;
  cursor: pointer;
  padding: 14px 0px;
  border: 0px;
  border-radius: 8px;

  transition: background-color 250ms linear, box-shadow 250ms linear;
}

.btn:hover {
  background-color: var(--color-hover-green);
}
