.selector {
  list-style: none;
  padding: 18px;
  background-color: var(--pop-up-bg-color);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);
  border-radius: 8px;
  gap: 4px;
}

.selectorItem {
  padding: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 21px;
  color: var(--secondary-text-color);
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

.active {
  composes: selectorItem;
  color: var(--accent-color);
}
